---
- name: Determine Project Root for Venv
  set_fact:
    project_venv: "{{ playbook_dir }}/../../.venv"

- name: Remove existing virtual environment
  file:
    path: "{{ project_venv }}"
    state: absent

- name: Create local virtual environment
  command: python3 -m venv {{ project_venv }}

- name: Install gnome-extensions-cli in venv
  pip:
    name: gnome-extensions-cli
    virtualenv: "{{ project_venv }}"
    executable: "{{ project_venv }}/bin/pip"

- name: Install GNOME Extensions
  command: "{{ project_venv }}/bin/gnome-extensions-cli install {{ item }}"
  loop:
    - "appindicatorsupport@rgcjonas.gmail.com"
    - "dash-to-dock@micxgx.gmail.com"
    - "blur-my-shell@aunetx"
    - "just-perfection-desktop@just-perfection"
    - "caffeine@patapon.info"
    - "user-theme@gnome-shell-extensions.gcampax.github.com"
  register: ext_install
  changed_when: "'already installed' not in ext_install.stdout"

- name: Enable GNOME Extensions
  command: "{{ project_venv }}/bin/gnome-extensions-cli enable {{ item }}"
  loop:
    - "appindicatorsupport@rgcjonas.gmail.com"
    - "dash-to-dock@micxgx.gmail.com"
    - "blur-my-shell@aunetx"
    - "just-perfection-desktop@just-perfection"
    - "caffeine@patapon.info"
    - "user-theme@gnome-shell-extensions.gcampax.github.com"
  register: ext_enable
  changed_when: "'is already enabled' not in ext_enable.stdout"

- name: Enable User Extensions Generic Setting
  command: "dconf write /org/gnome/shell/disable-user-extensions false"
  changed_when: true

- name: Configure Dash to Dock
  command: "dconf write {{ item.key }} \"{{ item.value }}\""
  loop:
    - key: "/org/gnome/shell/extensions/dash-to-dock/dock-position"
      value: "'BOTTOM'"
    - key: "/org/gnome/shell/extensions/dash-to-dock/dash-max-icon-size"
      value: "48"
    - key: "/org/gnome/shell/extensions/dash-to-dock/dock-fixed"
      value: "false"
    - key: "/org/gnome/shell/extensions/dash-to-dock/extend-height"
      value: "false"
    - key: "/org/gnome/shell/extensions/dash-to-dock/intellihide-mode"
      value: "'ALL_WINDOWS'"
    - key: "/org/gnome/shell/extensions/dash-to-dock/autohide-in-fullscreen"
      value: "true"
    - key: "/org/gnome/shell/extensions/dash-to-dock/custom-theme-shrink"
      value: "false"
    - key: "/org/gnome/shell/extensions/dash-to-dock/transparency-mode"
      value: "'FIXED'"
    - key: "/org/gnome/shell/extensions/dash-to-dock/background-opacity"
      value: "0.2"
    - key: "/org/gnome/shell/extensions/dash-to-dock/show-trash"
      value: "false"
    - key: "/org/gnome/shell/extensions/dash-to-dock/show-mounts"
      value: "false"
    - key: "/org/gnome/shell/extensions/dash-to-dock/animation-time"
      value: "0.25"
  changed_when: true

- name: Configure Just Perfection
  command: "dconf write {{ item.key }} \"{{ item.value }}\""
  loop:
    - key: "/org/gnome/shell/extensions/just-perfection/search"
      value: "false"
    - key: "/org/gnome/shell/extensions/just-perfection/workspace"
      value: "true"
    - key: "/org/gnome/shell/extensions/just-perfection/animation"
      value: "4"
    - key: "/org/gnome/shell/extensions/just-perfection/workspace-background-corner-size"
      value: "1"
  changed_when: true
    # Panel corner size intentionally left to default (Orchis theme)

- name: Configure Blur My Shell
  command: "dconf write {{ item.key }} \"{{ item.value }}\""
  loop:
    - key: "/org/gnome/shell/extensions/blur-my-shell/brightness"
      value: "0.6"
    - key: "/org/gnome/shell/extensions/blur-my-shell/sigma"
      value: "30"
    - key: "/org/gnome/shell/extensions/blur-my-shell/noise-amount"
      value: "0.05"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/pipeline"
      value: "'pipeline_default'"
    - key: "/org/gnome/shell/extensions/blur-my-shell/appfolder/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/dash-to-dock/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/overview/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/customize"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/override-background-color"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/background-color"
      value: "(0.0, 0.0, 0.0, 0.0)"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/unblur-in-overview"
      value: "false"
  changed_when: true
