- name: Environment Detection
  block:
    - name: Check if running inside a container
      stat:
        path: /run/.containerenv
      register: container_env

    - name: Set host run prefix
      set_fact:
        host_run: "{{ 'flatpak-spawn --host ' if container_env.stat.exists else '' }}"

- name: Download get-pip.py for local pip installation
  get_url:
    url: https://bootstrap.pypa.io/get-pip.py
    dest: /tmp/get-pip.py

- name: Bootstrap pip in user environment
  command: python3 /tmp/get-pip.py --user --break-system-packages
  changed_when: false

- name: Install gnome-extensions-cli (gext)
  command: "{{ ansible_user_dir }}/.local/bin/pip3 install gnome-extensions-cli --user --break-system-packages"
  changed_when: true

- name: Install and Enable GNOME Extensions via gext
  command: "{{ host_run }}{{ ansible_user_dir }}/.local/bin/gext install {{ item }}"
  loop:
    - "blur-my-shell@aunetx"
    - "user-theme@gnome-shell-extensions.gcampax.github.com"
  changed_when: true
  failed_when: false

- name: Enable User Extensions Generic Setting
  command: "dconf write /org/gnome/shell/disable-user-extensions false"
  changed_when: true


- name: Configure Blur My Shell
  command: "dconf write {{ item.key }} \"{{ item.value }}\""
  loop:
    - key: "/org/gnome/shell/extensions/blur-my-shell/brightness"
      value: "0.6"
    - key: "/org/gnome/shell/extensions/blur-my-shell/sigma"
      value: "30"
    - key: "/org/gnome/shell/extensions/blur-my-shell/noise-amount"
      value: "0.05"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/pipeline"
      value: "'pipeline_default'"
    - key: "/org/gnome/shell/extensions/blur-my-shell/appfolder/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/dash-to-dock/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/overview/blur"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/customize"
      value: "true"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/background-color"
      value: "(0.0, 0.0, 0.0, 0.0)"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/override-background-color"
      value: "false"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/blur"
      value: "false"
    - key: "/org/gnome/shell/extensions/blur-my-shell/panel/unblur-in-overview"
      value: "false"
  changed_when: true
