---
- name: Install Inter Font
  block:
    - name: Check if Inter font is already installed
      stat:
        path: "{{ ansible_user_dir }}/.local/share/fonts/Inter"
      register: inter_font_exists

    - name: Create fonts directory
      file:
        path: "{{ ansible_user_dir }}/.local/share/fonts"
        state: directory
        mode: '0755'
      when: not inter_font_exists.stat.exists

    - name: Create Inter font directory
      file:
        path: "{{ ansible_user_dir }}/.local/share/fonts/Inter"
        state: directory
        mode: '0755'
      when: not inter_font_exists.stat.exists

    - name: Download Inter font
      unarchive:
        src: "https://github.com/rsms/inter/releases/download/v4.0/Inter-4.0.zip"
        dest: "{{ ansible_user_dir }}/.local/share/fonts/Inter"
        remote_src: yes
        creates: "{{ ansible_user_dir }}/.local/share/fonts/Inter/Inter.ttc"
      when: not inter_font_exists.stat.exists

    - name: Update font cache
      command: fc-cache -f "{{ ansible_user_dir }}/.local/share/fonts"
      when: not inter_font_exists.stat.exists

- name: Install Orchis theme
  block:
    - name: Clone Orchis theme repository
      git:
        repo: "https://github.com/vinceliuice/Orchis-theme.git"
        dest: "/tmp/orchis-theme"
        depth: 1
        force: yes

    - name: Install Orchis theme (Standard Dark)
      command: "./install.sh -c dark"
      args:
        chdir: "/tmp/orchis-theme"
      register: install_theme
      changed_when: "'Installed' in install_theme.stdout"

- name: Clean unused Orchis variants
  block:
    - name: Find and remove unused Orchis variants
      shell: |
        for dir in ~/.themes ~/.local/share/themes; do
          [[ -d "$dir" ]] || continue
          find "$dir" -maxdepth 1 -type d -name "Orchis*" | while read -r theme_path; do
            theme_name="$(basename "$theme_path")"
            if [[ "$theme_name" != "Orchis-Dark" ]]; then
              rm -rf "$theme_path"
            fi
          done
        done
      register: clean_variants
      changed_when: clean_variants.stdout | length > 0

- name: Configure GNOME Interface
  command: "dconf write {{ item.key }} \"{{ item.value }}\""
  loop:
    - key: "/org/gnome/desktop/interface/gtk-theme"
      value: "'Orchis-Dark'"
    - key: "/org/gnome/desktop/interface/icon-theme"
      value: "'Papirus-Dark'"
    - key: "/org/gnome/desktop/interface/color-scheme"
      value: "'prefer-dark'"
    - key: "/org/gnome/shell/extensions/user-theme/name"
      value: "'Orchis-Dark'"
    - key: "/org/gnome/desktop/interface/font-name"
      value: "'Inter Regular 11'"
    - key: "/org/gnome/desktop/interface/document-font-name"
      value: "'Inter Regular 11'"
    - key: "/org/gnome/desktop/interface/monospace-font-name"
      value: "'Monospace 10'"
    - key: "/org/gnome/desktop/wm/preferences/titlebar-font"
      value: "'Inter Bold 11'"
    - key: "/org/gnome/desktop/interface/enable-animations"
      value: "true"
    - key: "/org/gnome/mutter/center-new-windows"
      value: "true"
    - key: "/org/gnome/desktop/interface/cursor-theme"
      value: "''"
    - key: "/org/gnome/desktop/sound/theme-name"
      value: "''"
  changed_when: true

- name: Flatpak Overrides
  block:
    - name: Allow Flatpak access to themes and icons
      command: "flatpak override --user --filesystem={{ item }}:ro"
      loop:
        - "~/.icons"
        - "~/.local/share/icons"
        - "/usr/share/icons"
        - "~/.themes"
        - "~/.local/share/themes"
        - "~/.config/gtk-3.0"
        - "~/.config/gtk-4.0"

    - name: Set GTK_THEME env for Flatpak
      command: "flatpak override --user --env=GTK_THEME=Orchis-Dark"
