---
- name: Hide GRUB Menu
  become: true
  block:
    - name: Set GRUB timeout to 0
      replace:
        path: /boot/grub2/grub.cfg
        regexp: '^set timeout=.*'
        replace: 'set timeout=0'
      register: grub_config
      ignore_errors: yes

    - name: Make GRUB config read-only
      file:
        path: /boot/grub2/grub.cfg
        mode: '0444'
      when: grub_config.changed

- name: Rename BTRFS labels to 'fedora'
  become: true
  command: btrfs filesystem label {{ item.path }} fedora
  loop:
    - path: '/var'
    - path: '/var/home'
  ignore_errors: yes
  changed_when: false

- name: Optimize GNOME Services
  become: true
  block:
    - name: Disable unnecessary services
      systemd:
        name: "{{ item }}"
        enabled: no
        state: stopped
      loop:
        - cups.service
        - cups-browsed.service
        - avahi-daemon.service
        - avahi-daemon.socket
        - ModemManager.service
      ignore_errors: yes

    - name: Mask unnecessary services
      systemd:
        name: "{{ item }}"
        masked: yes
      loop:
        - geoclue.service
        - tracker-miner-fs-3.service
        - tracker-extract-3.service
      ignore_errors: yes

- name: Apply Kernel Optimizations (sysctl)
  become: true
  copy:
    dest: /etc/sysctl.d/99-performance.conf
    content: |
      vm.swappiness=10
      vm.vfs_cache_pressure=200
      vm.dirty_ratio=10
      vm.dirty_background_ratio=5
      vm.overcommit_memory=0
      vm.max_map_count=1048576
      vm.admin_reserve_kbytes=262144
      net.core.rmem_max=16777216
      net.core.wmem_max=16777216
      net.ipv4.tcp_fastopen=3
      net.ipv4.tcp_congestion_control=bbr
      net.core.default_qdisc=cake
      fs.file-max=2097152
    mode: '0644'
  register: sysctl_p

- name: Reload sysctl
  become: true
  command: sysctl --system
  when: sysctl_p.changed

- name: Configure Safe Delete Aliases
  lineinfile:
    path: "{{ ansible_user_dir }}/.zshrc"
    line: "{{ item }}"
    create: yes
    state: present
  loop:
    - "# Safe Delete Configuration (Kionite Setup)"
    - "alias rm='gio trash 2>/dev/null || /usr/bin/rm'"
    - "alias rp='/usr/bin/rm'"
