---
- name: Install Flatpak Apps
  flatpak:
    name: "{{ item }}"
    state: present
    remote: flathub
    method: user
  loop:
    - com.discordapp.Discord
    - net.nokyan.Resources

- name: Remove Default Flatpak Apps
  flatpak:
    name: "{{ item }}"
    state: absent
    remote: flathub
    method: user
  loop: "{{ flatpaks_to_remove | default([]) }}"
