---
- name: Configure Fedora Kinoite Desktop
  hosts: localhost
  connection: local
  gather_facts: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
    user_home: "{{ lookup('env', 'HOME') }}"
    base_rpms_to_remove:
      - firefox
      - firefox-langpacks
      - btop
      - antigravity
      - ibus-typing-booster
      - kde-connect
      - kde-connect-libs
      - kdeconnectd
      - kinfocenter
      - plasma-drkonqi
      - plasma-welcome
      - plasma-welcome-fedora
      - plasma-discover
      - plasma-discover-rpm-ostree
      - plasma-discover-flatpak
      - plasma-discover-notifier
      - plasma-discover-kns
      - kcharselect
      - kdebugsettings
      - khelpcenter
      - krfb
      - krfb-libs
      - kjournald
      - kjournald-libs
      - kwalletmanager5
      - filelight
    base_rpms_to_install:
      - libvirt
      - tlp
      - tlp-rdw
      - qemu-kvm
      - papirus-icon-theme
      - kalk
      - ksshaskpass
      - rsms-inter-fonts
    flatpaks_to_remove:
      - org.fedoraproject.Platform.GL.default
      - org.kde.kmahjongg
      - org.kde.kmines
      - org.kde.kolourpaint
      - org.kde.krdc
      - org.kde.skanpage

  roles:
    - common
    - system-config
    - package-config
    - shell-config
    - apps-config
    - kde-theme
    - kde-config
    - toolbox-config
