---
- name: Configure Fedora Silverblue Desktop
  hosts: localhost
  connection: local
  gather_facts: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
    user_home: "{{ lookup('env', 'HOME') }}"

  roles:
    - common
    - system-config
    - package-config
    - shell-config
    - apps-config
    - gnome-theme
    - gnome-extensions
    - toolbox-config
