---
- name: Configure Fedora Silverblue Desktop
  hosts: localhost
  connection: local
  gather_facts: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
    user_home: "{{ lookup('env', 'HOME') }}"
    base_rpms_to_remove:
      - firefox
      - firefox-langpacks
      - btop
      - antigravity
      - gnome-software
      - gnome-software-rpm-ostree
      - gnome-contacts
      - gnome-maps
      - gnome-weather
      - gnome-tour
      - gnome-connections
      - gnome-characters
      - gnome-font-viewer
      - gnome-logs
      - gnome-remote-desktop
      - simple-scan
      - totem
      - cheese
      - rhythmbox
      - yelp
    base_rpms_to_install:
      - libvirt
      - tlp
      - tlp-rdw
      - qemu-kvm
      - papirus-icon-theme
      - sassc
      - gtk-murrine-engine
    flatpaks_to_remove:
      - org.fedoraproject.Platform.GL.default
      - org.gnome.Contacts
      - org.gnome.Maps
      - org.gnome.Weather
      - org.gnome.Cheese
      - org.gnome.Totem
      - org.gnome.Rhythmbox3
      - org.gnome.Characters
      - org.gnome.SystemMonitor

  roles:
    - common
    - system-config
    - package-config
    - shell-config
    - apps-config
    - gnome-theme
    - gnome-extensions
    - toolbox-config
