---
- name: RPM-OSTREE Management
  block:
    - name: Remove base packages (Silverblue)
      command: rpm-ostree override remove {{ item }}
      loop:
        - firefox
        - firefox-langpacks
        - btop
        - gnome-software
        - gnome-software-rpm-ostree
        - gnome-contacts
        - gnome-maps
        - gnome-weather
        - gnome-tour
        - gnome-connections
        - gnome-characters
        - gnome-font-viewer
        - gnome-logs
        - gnome-remote-desktop
        - simple-scan
        - totem
        - cheese
        - rhythmbox
        - yelp
      when: ansible_distribution == "Fedora" and "Silverblue" in ansible_lsb.description
      ignore_errors: yes
      changed_when: false # rpm-ostree doesn't easily report change status without parsing

    - name: Install common packages
      command: rpm-ostree install --idempotent --allow-inactive {{ item }}
      loop:
        - libvirt
        - tlp
        - tlp-rdw
        - qemu-kvm
        - papirus-icon-theme
        - zsh
        - util-linux-user
        - sassc
        - gtk-murrine-engine
      ignore_errors: yes
      changed_when: false

- name: Flatpak Remote Management
  block:
    - name: Add Flathub remote
      flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
        method: user
