---
- name: Optimize User Environment
  block:
    - name: Configure Safe Delete Aliases
      lineinfile:
        path: "{{ ansible_user_dir }}/.zshrc"
        line: "{{ item }}"
        create: yes
        state: present
      loop:
        - "# Safe Delete Configuration"
        - "alias rm='gio trash 2>/dev/null || /usr/bin/rm'"
        - "alias rp='/usr/bin/rm'"

- name: Optimize Performance
  block:
    - name: Configure kernel performance parameters
      ansible.builtin.copy:
        dest: /etc/sysctl.d/99-performance.conf
        content: |
          vm.overcommit_memory = 2
          vm.overcommit_ratio = 99
        mode: '0644'
      notify: reload sysctl
  become: true
