---
- name: Ensure pip is installed
  command: python3 -m ensurepip --user --default-pip
  args:
    creates: "{{ ansible_user_dir }}/.local/bin/pip"

- name: Install gnome-extensions-cli
  pip:
    name: gnome-extensions-cli
    executable: "{{ ansible_user_dir }}/.local/bin/pip"
    extra_args: "--user"

- name: Install GNOME Extensions
  command: "{{ ansible_user_dir }}/.local/bin/gnome-extensions-cli install {{ item }}"
  loop:
    - "appindicatorsupport@rgcjonas.gmail.com"
    - "dash-to-dock@micxgx.gmail.com"
    - "blur-my-shell@aunetx"
    - "just-perfection-desktop@just-perfection"
    - "caffeine@patapon.info"
    - "user-theme@gnome-shell-extensions.gcampax.github.com"
  register: ext_install
  changed_when: "'already installed' not in ext_install.stdout"

- name: Enable GNOME Extensions
  command: "{{ ansible_user_dir }}/.local/bin/gnome-extensions-cli enable {{ item }}"
  loop:
    - "appindicatorsupport@rgcjonas.gmail.com"
    - "dash-to-dock@micxgx.gmail.com"
    - "blur-my-shell@aunetx"
    - "just-perfection-desktop@just-perfection"
    - "caffeine@patapon.info"
    - "user-theme@gnome-shell-extensions.gcampax.github.com"
  register: ext_enable
  changed_when: "'is already enabled' not in ext_enable.stdout"

- name: Enable User Extensions Generic Setting
  dconf:
    key: "/org/gnome/shell/disable-user-extensions"
    value: "false"

- name: Configure Dash to Dock
  dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - { key: "/org/gnome/shell/extensions/dash-to-dock/dock-position", value: "'BOTTOM'" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/dash-max-icon-size", value: "48" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/dock-fixed", value: "false" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/extend-height", value: "false" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/intellihide-mode", value: "'ALL_WINDOWS'" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/autohide-in-fullscreen", value: "true" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/custom-theme-shrink", value: "false" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/transparency-mode", value: "'FIXED'" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/background-opacity", value: "0.2" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/show-trash", value: "false" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/show-mounts", value: "false" }
    - { key: "/org/gnome/shell/extensions/dash-to-dock/animation-time", value: "0.25" }

- name: Configure Just Perfection
  dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - { key: "/org/gnome/shell/extensions/just-perfection/search", value: "false" }
    - { key: "/org/gnome/shell/extensions/just-perfection/workspace", value: "true" }
    - { key: "/org/gnome/shell/extensions/just-perfection/animation", value: "4" }
    - { key: "/org/gnome/shell/extensions/just-perfection/workspace-background-corner-size", value: "1" }
    # Panel corner size intentionally left to default (Orchis theme)

- name: Configure Blur My Shell
  dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - { key: "/org/gnome/shell/extensions/blur-my-shell/brightness", value: "0.6" }
    - { key: "/org/gnome/shell/extensions/blur-my-shell/sigma", value: "30" }
    - { key: "/org/gnome/shell/extensions/blur-my-shell/noise-amount", value: "0.05" }
    - { key: "/org/gnome/shell/extensions/blur-my-shell/panel/blur", value: "true" }
    - { key: "/org/gnome/shell/extensions/blur-my-shell/panel/pipeline", value: "'pipeline_default'" }
    - { key: "/org/gnome/shell/extensions/blur-my-shell/appfolder/blur", value: "true" }
    - { key: "/org/gnome/shell/extensions/blur-my-shell/dash-to-dock/blur", value: "true" }
    - { key: "/org/gnome/shell/extensions/blur-my-shell/overview/blur", value: "true" }
